@import "tailwindcss";

body {
    background: #0c0b09;
    padding-bottom: 5rem;
    /* Equivalent to pb-20 */
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #020202;
  border-radius: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f5d36d, #0c0b09, #22d3ee);
  border-radius: 10px;
  transition: background 0.4s ease, transform 0.3s ease;
}

/* Scrollbar Thumb on Hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #facc15, #27221a, #06b6d4);
  transform: scaleY(1.2);
}
